/*=======================================
       Page for Random Banners  
       'single-pfrb_IFRAME.php'
=======================================*/
iframe.links_iframe {
width: 100%;
height: 150px;
border: none;
}